@import "https://cdn.jsdelivr.net/npm/simpledotcss@2.2.0/simple.min.css";

:root {
  --accent: #f0772b;
}

body {
  padding: 1.5rem;
}

#wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 150px;
}

ul.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.nav li:not(:last-child)::after {
  content: '|';
  padding: 0 2px;
  color: #f0772b;
}
