<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Vituum Handlebars</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

<div id="wrapper">
  <h1>Vituum Handlebars</h1>
  <img class="logo" src="../assets/logo.svg" alt="Vituum">
  {{> "partials/nav.hbs" }}
  <p id="js">JS not working :(</p>
</div>

<script type="module" src="../scripts/main.js"></script>

</body>
</html>
